{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <h2>{{ form_title }}</h2>
    <form method="post">
        {% csrf_token %}
        
        <!-- Category Name -->
        <label for="name">Category Name:</label>
        <input type="text" name="name" id="name" required>

        <!-- Category Type -->
        <label for="category_type">Category Type:</label>
        <select name="category_type" id="category_type" required>
            <option value="" disabled selected>Select a category type</option>
            <option value="Expense">Expense</option>
            <option value="Income">Income</option>
            <!-- Add more categories as needed -->
        </select>

        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{% endblock %}
